.tbody{
    background-color:#8090A2;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;

}

.thead{
    background-color:#8896AB;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.tdid{
    color:rgb(211,230,40);
    text-shadow:black;
}
.btn:hover{
    color:red;
}

.but:hover {
    color:green;
    
}