    <div class = "d-flex flex-row bd-highlight mb-3">
    
    <div class ="form-froup row">
    <label class ="col-sm-2 col-form-label">Program Name</label>
    <div class ="col-sm-10">
        <input type ="text" class ="form-control" [(ngModel)] ="progName"
        placeholder="Enter Program Name">
    </div>
    
    <label class ="col-sm-2 col-form-label">Category</label>
    <div class ="col-sm-10">
        <input type ="text" class ="form-control" [(ngModel)] ="category"
        placeholder="Enter Category">
    </div>

    <label class ="col-sm-2 col-form-label">Description</label>
    <div class ="col-sm-10">
        <input type ="text" class ="form-control" [(ngModel)] ="description"
        placeholder="Enter Description">
    </div>
    

    <label class ="col-sm-2 col-form-label">Trainer</label>
    <div class ="col-sm-10">
    <select class = "form-control" [(ngModel)] = "trainer" id="Trainer" name="Trainer">
        <option>--Select--</option>
            <option *ngFor="let trainerx of trainersList" [ngValue]= trainerx >
                {{trainerx.name}}
                
        </option>
    </select>
        <p>Trainer:{{trainer.name}}</p>
        
    </div>
   

<button (click) = "addProgram()" *ngIf="program.programID==0" class="btn btn-primary">
    Add
</button>
<button (click) = "updateProgram()" *ngIf="program.programID!=0" class="btn btn-primary">
    Update
</button>

