<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<section class ="contact">
    <div class ="contact">
        <h2>Contact Us</h2>
        <p>Let us know how we can help you</p>
    </div>
    <div class ="container">
        <div class = "contactInfo">
            <div class ="box">
                <div class ="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div> 
                <div class ="text">
                        <h3>Adress</h3>
                        <p>Bucuresti 21c<br> Timis, Timisoara,<br>350000</p>
                        </div>
            </div>
            <div class ="box">
                <div class ="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div> 
                <div class ="text">
                        <h3>Email</h3>
                        <p>marius.muntoiu04@gmail.com<br> bogdanmorar@gmail.com</p>
                        </div>
            </div>

            <div class ="box">
                <div class ="icon"><i class="fa fa-phone" aria-hidden="true"></i></div> 
                <div class ="text">
                        <h3>Phone</h3>
                        <p>0721150840 Marius<br> 0727873573 Bogdan</p>
                        </div>
            </div>

        </div>
        <div class ="contactForm">
            <form id ="gform" method ="POST" class="pure-form pure-form-stacked"  data-email="fomr-email@example.com"
            action ="https://script.google.com/macros/s/AKfycbwzK4UDshtYUXzFGthjhcMzajMdvZB3MWY7U0LeD7oyPrbIQ3tGeXqcVQ/exec">
                <h2>Send Message</h2>
                <div class ="inputBox">
                    <input id ="name" name ="name" required="required">
                    <span>Full Name</span>     
                </div>

                <div class ="inputBox">
                    <input id ="email" type ="email" name ="email" required="required" value="">
                    <span >Email</span>     
                </div>

                <!-- <div class ="inputBox">
                    <input type ="text" name ="" required="required">
                    <span>Type your message...</span>     
                </div> -->

                    <div class ="inputBox">
                    <input id="message" name="message" type ="text" required="required">
                    <span>Type your message...</span>     
                </div> 
                <div class ="inputBox">
                    <input type ="submit" name ="" value ="Submit">
                    
                </div>

                
                
            </form>
        </div>
    </div>

</section>

