<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right m-2" 
data-toggle="modal" data-target="#exampleModal"
(click)="addClick()"
data-backdrop="static" data-keyboard = "false"
>
    Add Program
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-x1" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> {{ModalTitle}} </h5>
          <button type="button" class="close"
           data-dismiss="modal" aria-label="Close"
           (click)="closeClick()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-add-edit-prog [program]="program" *ngIf ="ActivateAddEditProgramComp">
            </app-add-edit-prog>
        </div>
      </div>
    </div>
  </div>


<table class = "table table-striped">
    <thead>
        <tr>
            <th>Program ID</th>
            <th>Program Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Trainer</th>
            <th>Options</th>
        </tr>
    </thead>
        <tbody>
            <tr *ngFor ="let dataItem of ProgramList">
                <td>{{dataItem.programID}}</td>
                <td>{{dataItem.name}}</td>
                <td>{{dataItem.category}}</td>
                <td>{{dataItem.description}}</td>
                <td>{{dataItem.Trainer}}</td>
                <td>
                    <button type = "button" class ="btn btn-lght mr-1"
                    data-toggle="modal" data-target="#exampleModal"
                    (click)="editClick(dataItem)"
                    data-backdrop="static" data-keyboard = "false"
                     >
                        Edit
                    </button>
                    <button type = "button" class ="btn btn-lght mr-1"
                    (click)="deleteClick(dataItem)"
                    >
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
</table>
