<div class ="name">
  <div class = "titleapp">
  <h3 class = "d-flex justify-content-center"> TrainTheWay </h3>
  <h5 class = "d-flex justify-content-center"> Trainer Management Portal</h5> 
</div>
</div>

<div class = "info">
<h2>Promote, compare, experience..</h2>

</div>
<div class = "bio">A machine promoting-based service that gives you the oportunity to promote and compare yourself among other top fitness industry trainers.
    Quickly create and display programs to your clients that can continuously improve.
    <p class = "butt"><button (click) ="myFunction()" class = "m-1 btn btn-light btn-outline-primary">Get Started</button> </p>
</div>

<img src ="assets/Images/traintheway.png" alt ="tdw">

