body {
   border-radius:12px;
   transition: all 100ms ease-in-out;
   background-attachment: fixed;
   
}

h1{
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-weight: 600;
 font-style: italic;
 text-align: center;
}

.center{
   display: block;
   margin-left:auto;
   margin-right:auto;
   width:50%;

 }



